<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true" internalLogFile="c:\dev\code\int.txt" autoReload="true">
    <extensions>
      <add assembly="LoggerDLL" />
    </extensions>
    <targets >

      <wrapper-target xsi:type="ASPNetBufferingWrapper" name="smartLog">
        <wrapper-target xsi:type="PostFilteringWrapper" name="fil">
          <target name="a1" type="MyWebService" host="http://192.168.202.161:87/log.asmx" table="ApexService_Log"
                  layout="${mdc:item=GID}" />
          <!--during normal execution only log certain messages-->
          <defaultFilter>
            level >= LogLevel.Info
          </defaultFilter>
          <!--if there is at least one error, log everything from trace level-->
          <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />
        </wrapper-target>
      </wrapper-target>
      
    
      
    </targets>
    <rules>
      <!--<logger name="*" minlevel="Trace" writeTo="logfile"/>-->
      <logger name="*" minlevel="Trace" writeTo="smartLog" />
    </rules>
  </nlog>
</configuration>