<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoggerDLL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LoggerDLL.Properties.Settings>
            <setting name="LoggerDLL_nlogService_log" serializeAs="String">
                <value>http://appdev01:87/log.asmx</value>
            </setting>
        </LoggerDLL.Properties.Settings>
    </applicationSettings>
</configuration>