<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MessageSource"  value="ENGAGE" />
    <add key="Workstation"  value="BIZDEV05" />
    <!-- C0225 -->
    <add key="UseAuthenticationService" value="false"/>
    <!-- C0225 end -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime />
 
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <add name="NLog" type="NLog.Web.NLogHttpModule, NLog.Extended"/>
      
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DataWebServiceSoap" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000">
          <readerQuotas maxDepth="32" maxStringContentLength="200000000"
            maxArrayLength="200000000" />
        </binding>
        <binding name="TokenServiceSoap" />
        <binding name="IBB_Services_CashierServices_orcIssueBankersDraft_ReceiveIssueBankersDraftRequestPortSoap" />
        <binding name="IBBWebServices_AccountDD_AccountDDOrch_AccountDD_PortSoap" />
        <binding name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap" />
        <binding name="IBBWebServices_TransactionHistory_TransactionHistoryOrch_TransactionHistory_PortSoap" />
        <binding name="IBB_Services_EngageServices_orcAccountSummary_ReceiveAccountSummaryPortSoap" />
        <binding name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap" />
        <binding name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap" />
        <binding name="IBB_Services_EngageServices_orcPayeeList_ReceivePayeeListRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcTransactionHistoryEngage_ReceiveTransactionHistoryEngagePortSoap" />
        <binding name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap" />
        <binding name="IBB_Services_EngageServices_orcCashDeposit_ReceiveCashDepositRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcChequeDeposit_ReceiveChequeDepositRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcChequeWithdrawal_RecieveChequeWithdrawalPortSoap" />
        <binding name="AuthenticationCheckSoap" />
        <binding name="Bank_Biztalk_DealsInformation_orcProcessDepositInformation_ReceiveDepositPortSoap" />
        <binding name="Bank_Biztalk_DealsInformation_orcProcessFinanceInformation_ReceiveFinanceRequestPortSoap" />
        <binding name="IBB_Services_EngageServices_orcAddOutwardPaymentEngage_ReceiveAddOutwardPaymentPortSoap" />
        <binding name="DSXUpdateServiceSoap" />
        <binding name="DSXUpdateServiceSoap1" />
        <binding name="Bank_Biztalk_FXServices_orcProcessFXCashWithdrawal_ReceiveFXCashWithdrawalPortSoap" />
        <binding name="Bank_Biztalk_FXServices_orcProcessFXCashDeposit_ReceiveFXCashDepositPortSoap" />
        <binding name="Bank_Biztalk_FXServices_orcProcessFXAccountTransfer_ReceiveFXAccountTransferPortSoap" />
        <binding name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap" />
        <binding name="Bank_Biztalk_FXServices_orcProcessFXExchangeCash_ReceiveFXExchangeCashPortSoap" />
        <binding name="UserManagementSoap" maxReceivedMessageSize="1000000" />
        <binding name="Bank_Biztalk_FTVInformation_orcProcessFTV_ReceiveFTVPortSoap" />
        <binding name="EbsDataSoap" maxReceivedMessageSize="100000000" />
        <binding name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap" />
        <binding name="BasicHttpBinding_ITwoWayAsync">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ITwoWayAsync1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.133/DataWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DataWebServiceSoap"
        contract="svcDataWebservice.DataWebServiceSoap" name="DataWebServiceSoap" />
      <endpoint address="http://appdev01:82/TokenService.asmx"
        binding="basicHttpBinding" bindingConfiguration="TokenServiceSoap"
        contract="TokenService.TokenServiceSoap" name="TokenServiceSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.CashierServices.IssueBankersDraft/IBB_Services_CashierServices_orcIssueBankersDraft_ReceiveIssueBankersDraftRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_CashierServices_orcIssueBankersDraft_ReceiveIssueBankersDraftRequestPortSoap"
        contract="IssueBankersDraft.IBB_Services_CashierServices_orcIssueBankersDraft_ReceiveIssueBankersDraftRequestPortSoap"
        name="IBB_Services_CashierServices_orcIssueBankersDraft_ReceiveIssueBankersDraftRequestPortSoap" />
      <endpoint address="http://192.168.202.163/IBBWebServices.AccountDD/IBBWebServices_AccountDD_AccountDDOrch_AccountDD_Port.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBBWebServices_AccountDD_AccountDDOrch_AccountDD_PortSoap"
        contract="DirectDebit.IBBWebServices_AccountDD_AccountDDOrch_AccountDD_PortSoap"
        name="IBBWebServices_AccountDD_AccountDDOrch_AccountDD_PortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.CashierServices.CancelDirectDebit/IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap"
        contract="DirectDebitCancel.IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap"
        name="IBB_Services_CashierServices_orcCancelDirectDebit_ReceiveCancelDirectDebitPortSoap" />
      <endpoint address="http://192.168.202.163/IBBWebServices.TransactionHistory/IBBWebServices_TransactionHistory_TransactionHistoryOrch_TransactionHistory_Port.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBBWebServices_TransactionHistory_TransactionHistoryOrch_TransactionHistory_PortSoap"
        contract="TransactionHistoryOld.IBBWebServices_TransactionHistory_TransactionHistoryOrch_TransactionHistory_PortSoap"
        name="IBBWebServices_TransactionHistory_TransactionHistoryOrch_TransactionHistory_PortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.PayeeList/IBB_Services_EngageServices_orcPayeeList_ReceivePayeeListRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcPayeeList_ReceivePayeeListRequestPortSoap"
        contract="PayeeList.IBB_Services_EngageServices_orcPayeeList_ReceivePayeeListRequestPortSoap"
        name="IBB_Services_EngageServices_orcPayeeList_ReceivePayeeListRequestPortSoap" />
      <endpoint address="http://appdev01:97/AuthenticationCheck.asmx"
        binding="basicHttpBinding" bindingConfiguration="AuthenticationCheckSoap"
        contract="CheckAuthentication.AuthenticationCheckSoap" name="AuthenticationCheckSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.AccountTransferEngage/IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap"
        contract="AccountTransfer.IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap"
        name="IBB_Services_EngageServices_orcAccountTransferEngage_ReceiveAccountTransferEngagePortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.CancelNoticeWithdrawal/IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap"
        contract="CancelNoticeWithdrawal.IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap"
        name="IBB_Services_EngageServices_orcCancelNoticeWithdrawal_ReceiveCancelNoticeWithdrawalPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.CancelTransactionEngage/IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap"
        contract="CancelTransaction.IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap"
        name="IBB_Services_EngageServices_orcCancelTransactionEngage_ReceiveCancelTransactionRequestPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.CashWithdrawal/IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap"
        contract="CashWithdrawal.IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap"
        name="IBB_Services_EngageServices_orcCashWithdrawal_ReceiveCashWithdrawalRequestPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.ChequeDeposit/IBB_Services_EngageServices_orcChequeDeposit_ReceiveChequeDepositRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcChequeDeposit_ReceiveChequeDepositRequestPortSoap"
        contract="ChequeDeposit.IBB_Services_EngageServices_orcChequeDeposit_ReceiveChequeDepositRequestPortSoap"
        name="IBB_Services_EngageServices_orcChequeDeposit_ReceiveChequeDepositRequestPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.ChequeWithdrawal/IBB_Services_EngageServices_orcChequeWithdrawal_RecieveChequeWithdrawalPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcChequeWithdrawal_RecieveChequeWithdrawalPortSoap"
        contract="ChequeWithdrawal.IBB_Services_EngageServices_orcChequeWithdrawal_RecieveChequeWithdrawalPortSoap"
        name="IBB_Services_EngageServices_orcChequeWithdrawal_RecieveChequeWithdrawalPortSoap" />
      <endpoint address="http://192.168.202.163/Bank.Biztalk.DealsInformation.DealDeposits/Bank_Biztalk_DealsInformation_orcProcessDepositInformation_ReceiveDepositPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_DealsInformation_orcProcessDepositInformation_ReceiveDepositPortSoap"
        contract="DealDeposits.Bank_Biztalk_DealsInformation_orcProcessDepositInformation_ReceiveDepositPortSoap"
        name="Bank_Biztalk_DealsInformation_orcProcessDepositInformation_ReceiveDepositPortSoap" />
      <endpoint address="http://192.168.202.163/Bank.Biztalk.DealsInformation.Finance/Bank_Biztalk_DealsInformation_orcProcessFinanceInformation_ReceiveFinanceRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_DealsInformation_orcProcessFinanceInformation_ReceiveFinanceRequestPortSoap"
        contract="DealFinance.Bank_Biztalk_DealsInformation_orcProcessFinanceInformation_ReceiveFinanceRequestPortSoap"
        name="Bank_Biztalk_DealsInformation_orcProcessFinanceInformation_ReceiveFinanceRequestPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.GetNoticeWithdrawalList/IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap"
        contract="GetNoticeWithdrawalList.IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap"
        name="IBB_Services_EngageServices_orcGetNoticeWithdrawalList_ReceiveGetNoticeWithdrawalsPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.TransactionHistoryEngage/IBB_Services_EngageServices_orcTransactionHistoryEngage_ReceiveTransactionHistoryEngagePort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcTransactionHistoryEngage_ReceiveTransactionHistoryEngagePortSoap"
        contract="TransactionHistory.IBB_Services_EngageServices_orcTransactionHistoryEngage_ReceiveTransactionHistoryEngagePortSoap"
        name="IBB_Services_EngageServices_orcTransactionHistoryEngage_ReceiveTransactionHistoryEngagePortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.AddOutwardPaymentEngage/IBB_Services_EngageServices_orcAddOutwardPaymentEngage_ReceiveAddOutwardPaymentPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcAddOutwardPaymentEngage_ReceiveAddOutwardPaymentPortSoap"
        contract="AddOutwardPayment.IBB_Services_EngageServices_orcAddOutwardPaymentEngage_ReceiveAddOutwardPaymentPortSoap"
        name="IBB_Services_EngageServices_orcAddOutwardPaymentEngage_ReceiveAddOutwardPaymentPortSoap" />
      <endpoint address="http://http://192.168.1.133:90/DSXUpdateService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSXUpdateServiceSoap"
        contract="DSXUpdate.DSXUpdateServiceSoap" name="DSXUpdateServiceSoap" />
      <endpoint address="http://appdev01:90/DSXUpdateService.asmx"
        binding="basicHttpBinding" bindingConfiguration="DSXUpdateServiceSoap1"
        contract="DSXUpdates.DSXUpdateServiceSoap" name="DSXUpdateServiceSoap1" />
      <endpoint address="http://localhost/Bank.Biztalk.FXServices.FXCashWithdrawal/Bank_Biztalk_FXServices_orcProcessFXCashWithdrawal_ReceiveFXCashWithdrawalPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FXServices_orcProcessFXCashWithdrawal_ReceiveFXCashWithdrawalPortSoap"
        contract="FXCashWithdrawal.Bank_Biztalk_FXServices_orcProcessFXCashWithdrawal_ReceiveFXCashWithdrawalPortSoap"
        name="Bank_Biztalk_FXServices_orcProcessFXCashWithdrawal_ReceiveFXCashWithdrawalPortSoap" />
      <endpoint address="http://localhost/Bank.Biztalk.FXServices.FXCashDeposit/Bank_Biztalk_FXServices_orcProcessFXCashDeposit_ReceiveFXCashDepositPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FXServices_orcProcessFXCashDeposit_ReceiveFXCashDepositPortSoap"
        contract="FXCashDeposit.Bank_Biztalk_FXServices_orcProcessFXCashDeposit_ReceiveFXCashDepositPortSoap"
        name="Bank_Biztalk_FXServices_orcProcessFXCashDeposit_ReceiveFXCashDepositPortSoap" />
      <endpoint address="http://localhost/Bank.Biztalk.FXServices.FXAccountTransfer/Bank_Biztalk_FXServices_orcProcessFXAccountTransfer_ReceiveFXAccountTransferPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FXServices_orcProcessFXAccountTransfer_ReceiveFXAccountTransferPortSoap"
        contract="FXAccountTransfer.Bank_Biztalk_FXServices_orcProcessFXAccountTransfer_ReceiveFXAccountTransferPortSoap"
        name="Bank_Biztalk_FXServices_orcProcessFXAccountTransfer_ReceiveFXAccountTransferPortSoap" />
      <endpoint address="http://192.168.202.163/Bank.Biztalk.FXServices.FXRates/Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap"
        contract="FXRates.Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap"
        name="Bank_Biztalk_FXServices_orcProcessRateEnquiry_FXRequestPortSoap" />
      <endpoint address="http://localhost/Bank.Biztalk.FXServices.FXExchangeCash/Bank_Biztalk_FXServices_orcProcessFXExchangeCash_ReceiveFXExchangeCashPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FXServices_orcProcessFXExchangeCash_ReceiveFXExchangeCashPortSoap"
        contract="FXExchangeCash.Bank_Biztalk_FXServices_orcProcessFXExchangeCash_ReceiveFXExchangeCashPortSoap"
        name="Bank_Biztalk_FXServices_orcProcessFXExchangeCash_ReceiveFXExchangeCashPortSoap" />
      <endpoint address="http://localhost/DigitalBanking/UserManagement.asmx"
        binding="basicHttpBinding" bindingConfiguration="UserManagementSoap"
        contract="DigitalBanking.UserManagementSoap" name="UserManagementSoap" />
      <endpoint address="http://bizdev05/Bank.Biztalk.FTVInformation.FTVEnquiry/Bank_Biztalk_FTVInformation_orcProcessFTV_ReceiveFTVPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FTVInformation_orcProcessFTV_ReceiveFTVPortSoap"
        contract="FTVInformation.Bank_Biztalk_FTVInformation_orcProcessFTV_ReceiveFTVPortSoap"
        name="Bank_Biztalk_FTVInformation_orcProcessFTV_ReceiveFTVPortSoap" />
      <endpoint address="http://localhost:88/EbsData.asmx" binding="basicHttpBinding"
        bindingConfiguration="EbsDataSoap" contract="EBSData.EbsDataSoap"
        name="EbsDataSoap" />
      <endpoint address="http://bizdev05/Bank.Biztalk.FundsInTransit.OpenFITAccount/Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap"
        contract="OpenFITAccount.Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap"
        name="Bank_Biztalk_FundsInTransit_orcProcessOpenFITAccount_ReceiveOFAPortSoap" />
      <endpoint address="http://192.168.1.124/IBB.Services.EngageServices.AccountSummary/IBB_Services_EngageServices_orcAccountSummary_ReceiveAccountSummaryPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcAccountSummary_ReceiveAccountSummaryPortSoap"
        contract="AccountSummary.IBB_Services_EngageServices_orcAccountSummary_ReceiveAccountSummaryPortSoap"
        name="IBB_Services_EngageServices_orcAccountSummary_ReceiveAccountSummaryPortSoap" />
      <endpoint address="http://192.168.202.163/IBB.Services.EngageServices.CashDeposit/IBB_Services_EngageServices_orcCashDeposit_ReceiveCashDepositRequestPort.asmx"
        binding="basicHttpBinding" bindingConfiguration="IBB_Services_EngageServices_orcCashDeposit_ReceiveCashDepositRequestPortSoap"
        contract="CashDeposit.IBB_Services_EngageServices_orcCashDeposit_ReceiveCashDepositRequestPortSoap"
        name="IBB_Services_EngageServices_orcCashDeposit_ReceiveCashDepositRequestPortSoap" />
      <endpoint address="http://bizdev05.islamic-bank.local/Bank.Biztalk.RiskScoring/Bank_Biztalk_RiskScoring_orcProcessPanoptic_ReceiveSFDCRequestPort.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync"
        contract="RiskScoring.Bank_Biztalk_RiskScoring_orcProcessPanoptic_ReceiveSFDCRequestPort"
        name="BasicHttpBinding_ITwoWayAsync" />
      <endpoint address="http://bizdev05.islamic-bank.local/Bank.Biztalk.RiskScoring.DeleteEntity/Bank_Biztalk_RiskScoring_orcProcessPanopticDeleteEntity_ReceiveSFDCRequestPort.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsync1"
        contract="RiskScoringDeleteEntity.Bank_Biztalk_RiskScoring_orcProcessPanopticDeleteEntity_ReceiveSFDCRequestPort"
        name="BasicHttpBinding_ITwoWayAsync1" />
    </client>
  </system.serviceModel>
</configuration>